@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --orange:#FF9814;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding:0 7%;
    padding-top: 12rem;
}

header{
    position: fixed; /*Responsive Design and use Flexbox*/
    top:0; left: 0; 
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    width:100%;
}

header .heading{
    font-size: 3rem;
    color:#666;
    padding:1rem;
    text-align: center;
}

header #menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    margin:1rem;
    display: none;
}

header .navbar ul{
    display: flex; /*Responsive Design and use Flexbox*/
    align-items: center;
    justify-content: center;
    list-style: none;
    background:var(--orange);
    padding:1rem; 
}

header .navbar ul li{
    margin:0 1.5rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a:hover{
    color:#444;
}

.home{
    min-height: 100vh;
    display: flex; /*Responsive Design and use Flexbox*/
    align-items: center;
    justify-content: space-around;
    background:url(../images/home-bg.jpg) no-repeat;   /* source img :https://pixabay.com/th/illustrations/ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*Responsive Design and use Flexbox*/
    flex-wrap: wrap;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content h1{
    font-size: 5rem;
    color:#444;
}

.home .content p{
    font-size: 1.8rem;
    color:#666;
    padding:1rem 0;
}

.about{
    min-height: 100vh;
    display: flex; /*Responsive Design and use Flexbox*/
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.about .image{
    flex:1 1 40rem; /*Responsive Design and use Flexbox*/
}

.about .image img{
    width:100%;
}

.about .content{
    flex:1 1 40rem; /*Responsive Design and use Flexbox*/
}

.about .content h1{
    font-size: 5rem;
    color:#444;
}

.about .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
}

.game{
    background:url(../images/BG.jpg);
    height: 100vh; 
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.game .content{
    flex:1 1 40rem;
}

.game .content h1{
    font-size: 5rem;
    color:#444;
}

.game .content p{
    font-size: 1.8rem;
    color:#666;
    padding:1rem 0;
}

.gallery {
    margin: 100px 50px;
    min-height: 100vh;
    padding-bottom: 2rem;
    padding: 10px;
}

.gallery .wrapper{
    display: grid; /*Responsive Design and Use Grid*/
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /*Responsive Design and Use Grid*/
    grid-gap: 5px; /*Responsive Design and Use Grid*/
}

.gallery img{
    width: 100%;
    border-radius: 20px;
}

.gallery box{
    padding: 10px;
}

.footer{
    background:#333;
}

.footer .credit{
    font-size: 2rem;
    background:#222;
    text-align: center;
    color:#fff;
    padding:2rem 1rem;
    font-weight: normal;
}

.footer .credit a{
    color:var(--orange);
}


/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    .home .content{
        text-align: center;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .about .content h1{
        font-size: 4rem;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    header{
        display: flex; /*Responsive Design and use Flexbox*/
        align-items: center; /*Responsive Design and use Flexbox*/
        justify-content: space-between;
        padding:0 1rem;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed; 
        top:6.2rem; right:-120%; 
        height:100%;
        width:100%;
        border-top: .2rem solid rgba(0,0,0,.3);
    }

    header .navbar ul{
        height:100%;
        width:100%;
        flex-flow: column; /*Responsive Design and use Flexbox*/
        background:#fff;
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        font-size: 4rem;
        color:#333;
        display: block;
    }

    header .navbar ul li a:hover{
        color:var(--orange);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        right:0;
    }

    section{
        padding-top: 5rem;
    }

}